.todolist {
    background-color: white;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}